<h1>Ajouter Produit</h1>

<form action="/products/create" method="POST">

<input type="text"
name="name"
placeholder="Nom produit"
class="form-control mb-3">

<input type="number"
name="price"
placeholder="Prix"
class="form-control mb-3">

<input type="text"
name="category"
placeholder="Catégorie"
class="form-control mb-3">

<input type="number"
name="quantity"
placeholder="Quantité"
class="form-control mb-3">

<input type="text"
name="imageUrl"
placeholder="URL image"
class="form-control mb-3">

<textarea
name="description"
placeholder="Description"
class="form-control mb-3"></textarea>

<button class="btn btn-success">
Ajouter
</button>

</form>